:root {
	--border: 4px dashed #73464c;
	--borderRadius: 6px;
	--bgcolor: #ffe7d6;
	--textcolor: #73464c;
	--editcolor: #ffa7a5;
	--player1indicator: #ee6a7c;
	--player2indicator: #34acba;
	--boardcolor: #ffe7d6;
	--buttoncolor: #ffe07e;
	--buttoncoloractive: #ffd34a;
}

html {
	font-family: "Baloo Tammudu 2", cursive;
}

body {
	background-color: var(--bgcolor);
}

h1 {
	text-align: center;
	font-size: 3rem;
	color: var(--textcolor);
}

.modal {
	transform: scale(0);
	transition: 200ms ease-in-out;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal.active {
	transform: scale(1);
}

.modal-content {
	background-color: var(--bgcolor);
	color: var(--textcolor);
	margin: 15% auto;
	padding: 20px;
	border: none;
	width: 340px;
	border-radius: var(--borderRadius);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.7rem;
}

#overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

p {
	margin: 0px;
	font-weight: bold;
}

#main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#play-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#grid-container {
	display: grid;
	width: 300px;
	height: 300px;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 50px;
	padding: 10px;
	background-color: var(--boardcolor);
	border-radius: var(--borderRadius);
}

#restart-button,
#new-match-button {
	border: 3px solid transparent;
	border-radius: var(--borderRadius);
	padding: 10px;
	transition: 0.3s;
	font-size: 1rem;
	background-color: var(--buttoncolor);
	box-shadow: 0 6px var(--textcolor);
}

#restart-button:hover,
#new-match-button:hover {
	background-color: var(--buttoncoloractive);
}

#restart-button:active,
#new-match-button:active {
	box-shadow: 0 3px var(--textcolor);
	transform: translateY(4px);
}

.grid-item {
	border: none;
	font-size: 5rem;
	background-color: transparent;
	width: 100px;
	height: 100px;
	user-select: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-item:nth-child(-n + 3) {
	border-bottom: var(--border);
}

.grid-item:nth-child(3n + 1) {
	border-right: var(--border);
}

.grid-item:nth-child(3n) {
	border-left: var(--border);
}

.grid-item:nth-child(n + 7) {
	border-top: var(--border);
}

.player-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--textcolor);
}

#player1-name,
#player2-name {
	font-size: 30px;
	margin-right: 10px;
}

#player1-score,
#player2-score {
	font-size: 70px;
}

.name-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#name-container-1 {
	border-bottom: 4px var(--player1indicator) solid;
}

#name-container-2 {
	border-bottom: 4px transparent solid;
}

#name-container-1.active1 {
	animation: breathing1 2s ease-in-out infinite normal;
}

#name-container-2.active2 {
	animation: breathing2 2s ease-in-out infinite normal;
}

@keyframes breathing1 {
	0% {
		border-bottom: 4px transparent solid;
	}

	25% {
		border-bottom: 4px var(--player1indicator) solid;
	}

	60% {
		border-bottom: 4px var(--player1indicator) solid;
	}

	100% {
		border-bottom: 4px transparent solid;
	}
}

@keyframes breathing2 {
	0% {
		border-bottom: 4px transparent solid;
	}

	25% {
		border-bottom: 4px var(--player2indicator) solid;
	}

	60% {
		border-bottom: 4px var(--player2indicator) solid;
	}

	100% {
		border-bottom: 4px transparent solid;
	}
}

.change-name {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-bottom: 14px;
}

.edit {
	font-size: 30px;
	transition: 0.3s;
	color: var(--editcolor);
}

.edit:hover,
.edit:active {
	color: var(--textcolor);
}

.far {
	font-size: 65px;
}

input[type="text"] {
	padding: 0.6rem;
	width: 80%;
	border-radius: var(--borderRadius);
	border: 3px solid var(--textcolor);
	transition: 0.3s;
	background-color: var(--bgcolor);
	color: var(--textcolor);
}

input[type="text"]:focus {
	outline: none;
	border: 3px solid var(--editcolor);
}

input[type="button"] {
	border: 3px solid transparent;
	border-radius: var(--borderRadius);
	padding: 10px;
	transition: 0.3s;
	width: 20%;
	margin-top: 20px;
	font-size: 1rem;
	background-color: var(--buttoncolor);
	box-shadow: 0 6px var(--textcolor);
}

input[type="button"]:hover {
	background-color: var(--buttoncoloractive);
}

input[type="button"]:active {
	box-shadow: 0 3px var(--textcolor);
	transform: translateY(4px);
}
