html {
	font-family: "Baloo Tammudu 2", cursive;
}

#grid-container {
	display: grid;
	width: 300px;
	height: 300px;
	grid-template-columns: repeat(3, 1fr);
}

.grid-item {
	border: 3px black solid;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
}
